
/*****************************************************************************/
/*
/* Imports
/*
/*****************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

[class*="project-"]:before {
  line-height:0.75;
}

html, body {
  height: 100%;
  width: 100%;
}

section {
  display: block;
}

.post {
  color: white;
}



a {
  text-decoration: none;
  cursor: pointer;
}

p a, p a:link, p a:visited{
  color: rgba(0,0,0,0.9);
  font-weight: bold;
}

 li.rssRow a, li.rssRow a:link, li.rssRow a:visited {
  color: white;
  font-weight: bold;
 }

p.inv {
  font-weight: lighter;
}

.black-bg {
  color: white;
}

.black-bg p a, .black-bg p a:link, .black-bg p a:visited {
  color: white;
  font-weight:bold;
}

.black-bg p a:hover {
    color: rgba(58, 128, 255, 1);
    text-decoration: none;
}

.black-bg p {
  font-weight: lighter;
}

.blog_note {
  font-size: 2.0em
}

li.rssRow {
  font-size: 1.50em;
  border-bottom: 1px solid white;
  padding: 5px;
}

li.rssRow:last-child {
  border-bottom: none;
}

p a:hover, li.rssRow a:hover {
  /*color: rgba(0,0,0,0.5);*/
  color: rgba(58, 128, 255, 1);
  text-decoration: none;
}

p a:visited {
  color: rgba(0,0,0,0.9);
  font-weight: bold;
}

.rssRow h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.rssRow p {
  font-weight: lighter;
}

p.inv a, p.inv a:link, p.inv a:visited {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

p.inv a:visited {
  color: #fff;
  font-weight: bold;
}

p.inv a:hover, p a:hover {
  color: rgba(58, 128, 255, 1);
  text-decoration: underline;
}

.projects ul {
  font-weight: lighter;
  font-size:1.25em;
}
body {
  background-color: #FFF;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

footer p {
  font-size: 1em;
  padding-bottom: 24px;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
  background-color: inherit;
}

/*.wrapper {
  height:100%;
  margin: 0 auto;
  width: 960px;
  padding:8px;
}*/

section.content{
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  position: relative;
}

.resume {
  clear: both;
  display: inline-block;
  margin-right: 5vw;
  padding: 0;
  float: right;
  height: auto;
  width: 25%;
  position: relative;
}

.pure-button {
  background-color: black;
  color: white;
}

a.pure-menu-heading {
  font-size: 2.0em;
}
a.pure-button, a.pure-button:link, a.pure-button:active {
  background-color: black;
  color: white;
}

a.pure-button:hover {
  background-color: black;
  text-decoration: underline;
  color: white;
  -webkit-box-shadow: 5px 2px 5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    5px 2px 5px rgba(50, 50, 50, 0.5);
  box-shadow:         5px 2px 5px rgba(50, 50, 50, 0.5);
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

header { 
    width: 100%;}
nav { 
  width: 90%;
  margin: 0 auto;
  padding: 16px;
}

nav > #top {
  width: 25%;
  clear: both;
  float: left;
  position: relative;
  margin: 0 auto;
  text-align: right;
  font-size: 1.25em;
  font-weight: bold;
}

nav > ul.nav {
  width: 50%;
  float: left;
  margin: 0 auto;
  text-align: center;
  clear: right;
  position: relative;
}

nav > ul.nav li {
  letter-spacing: 1px;
  text-decoration: none;

}

nav > div.pull-right {
  width: auto;
  clear: right;
  float: left;
  text-align: center;
}

.pure-button {
  width: inherit;
}

h1, h2 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.intro h2 {
  font-size: 3em;
  margin: 0;
  line-height: 0.75;
}

.intro h3 {
  font-size: 1.25em;
  line-height: 1.5;
}


h3, h4, h5, h6 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1em;
}

.email {
  width: auto;
}

.info {
  font-weight: lighter;
  font-size: 1.25em;
}

section#cover {
  display: block;
  margin: 0;
  padding-top: 20vh;
  background-image: url("/res/tiger.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

strong {
  word-wrap: break-word;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 8px;
  display: block;
  font-size: 1.25em;

}

div.title {
  display: block;
  position: relative;
  text-align: center;
  clear: both;
  float: none;
  font-size: 2.5em;
}

.pull-right {
  clear: left;
  float: right;
}

div.projects li {
  list-style-type: none;
  text-align: left;
}


div.title h1 {
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(150,150,150,0.75);
}


section#about .info li {
  text-align: center;
  display: block;
}

section#about .info p {
  text-align: left;
}

.social-links {
  width: 100%;
}

.social-links > ul li {
  display: inline-block;
  text-align: center;
  float: inherit;
  width: 20vw;
  color: rgba(255,255,255,0.75);
  font-weight: lighter;
}



div.social-links {
  clear: left;
  float: none;
}

.social-links > ul li a {
  text-decoration: none;
  color: rgba(255,255,255, 0.75);
}

.social-links > ul li a:hover {
  /*text-shadow: 3px 0px 3px rgba(150, 150, 150, 1);*/
  /*color: #fff;
  text-shadow: 3px 0px 3px rgba(84,145,95,1);
  color: rgba(84, 250, 95, 0.5);*/
  text-shadow: 3px 0px 3px rgba(94, 128, 255, 1);
  /*color: rgba(64, 153,255,0.5);*/
  color: rgba(58, 128, 255, 0.5);
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

/*
.social-links  ul li a.twitter:hover {
  text-shadow: 3px 0px 3px rgba(100, 153, 255, 1);
  color: rgba(64, 153,255,0.5);
}

.social-links ul li a.linked:hover {
  text-shadow: 3px 0px 3px rgba(108,153,255,1);
  color: rgba(72, 117, 180, 0.5)
}

.social-links ul li a.mail:hover {
  text-shadow: 3px 0px 3px rgba(255,248,200,1);
  color: rgba(255,248,167,0.5);
}*/

.social-links {
  width: 100%;
  float: inherit;
  text-align: center;
}

.first {
  min-height: 75vh;
  max-height: 100vh;
}

.social-links {
  text-align: center;
}

.social-links li {
  display: inline;
  float: left;
}

header {
  width: 100vw;
  padding: 16px;
}

.profile-img img {
  border-radius: 10% 10%;
  max-height: 50vh;
}

.title {
  text-align: center;
  float: left;
  color: #fff;
}

.content {
  text-align: center;
  padding: 0;
}

.slide, .first {
  padding-top: 40px;
  padding-bottom: 16px;
  min-height: 90vh;
  clear: both;
  display: block;
  position: relative;
  width: 100vw;
  margin: 0 auto;
  clear: both;
  float: none;
}

.slide {
  /*font-size: 100%;*/
}

ul.nav {
  text-align: center;
}

.white-bg {
  background-color: #fff;
  color: #000;
}

.black-bg {
  background-color: #000;
  color: #fff;
}

.info > ul, .posts > ul, .title > ul, .rssBody > ul {
  list-style-type: none;
}

.rssBody {
}

.slide h2, .first h2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.posts {
  text-align: left;
}

.social-links li {
  display: inline;
}

.post {
  min-width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #000;
  text-align: left;
  position: relative;
  padding-bottom: 40px;
}

#contact {
  letter-spacing: 1.5px;
  line-height: 1.5;
}

#contact div.info {
  font-size: 1.75em;
}

.contact-box {
  text-align:left ;
}

.note {
  font-weight: lighter;
  font-size: 1.25em;
}

/* NAVIGATION  */

.pure-menu {
    font-weight: lighter;
    padding: 8px;
}

/*li > a.pure-button {
  float: right;
  width: 100%;
}*/

.pure-menu-heading:hover {
    /*color: #efefef;*/
    color: rgba(58, 128, 255, 1);
}


a.pure-button:visited {
  background-color: black;
  color: white;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
  header {
    display: block;
    clear: both;
    min-height: auto;

  }

  nav {
    width: 95vw;
    font-size: 90%;
    clear: both;
    float: left;
    display: block;
    position: relative;
    margin: 0 auto;
  }

  nav > #top {
    display: block;
    width: 25%;
    float: left;
    clear: both;
    position: relative;
    margin: 0 auto;
    text-align: left;
    font-size: 1.25em;
    font-weight: bold;
    clear: right;
  }

  nav > ul.nav {
    display: inline-block;
    width: auto;
    clear: both;
    position: relative;
    float: left;
    margin: 0 auto;
    text-align: center;
  }

  .resume {
    float: right;
    clear: both;
    width: auto;
  }

}

@media (max-width: 480px) {
  .first {
    font-size: 80%;
  }

  .social-links > ul {
    font-size: 75%;
  }

  section {
    height: auto;
    width: 100vw;
  }

  section#cover {
  display: block;
  margin: 0;
  padding-top: 20vh;
  height: auto;
  background-image: url("/res/tiger.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.social-links {
  display: inline-block;
  float: left;
  width: 95%;
  margin: 0 auto;
}

.social-links ul li {
  width: 10vw;
}
  .slide, .first {
  padding-top: 24px;
  padding-bottom: 16px;
  min-height: 100vh;
  clear: both;
  display: block;
  position: relative;
  width: 100vw;
  clear: both;
  float: none;
}

}