<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
          <meta charset="utf-8">
          <title>{{ site.name }}</title>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta name="description" content="{{ site.description }}">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

      <div class="wrapper">
      <section class="sidebar">
      <h1>Iheanyi Ekechukwu</h1>
      <ul class="social-links">
        <li><i class="icon-github icon-2x"></i></li>
        <li><i class="icon-linkedin-sign icon-2x"></i></li>
        <li><i class="icon-envelope icon-2x"></i></li>
        <li><i class="icon-twitter-sign icon-2x"></i></li>
        <li><i class="icon-google-plus-sign icon-2x"></i></li>
      </ul>

      <ul class="navigation">
          <li><a href="index.html">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="#">Résumé</a></li>
      </ul>

      </section>

      <section class="content">
        {{content}}</p>
      </section>

      <hr>

      <footer>
        <p>&copy; Iheanyi Ekechukwu 2013, <a href="https://creativecommons.org/licenses/by-sa/3.0/us/"> Creative Commons Attribution-ShareAlike 3.0 License</a>.</p>
      </footer>

    </div>

    </body>
</html>
