<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
      <section class="sidebar">
      <h4>Iheanyi Ekechukwu</h4>
      <ul class="social-links">
        <li>GitHub</li>
        <li>LinkedIn</li>
        <li>E-Mail</li>
        <li>Twitter</li>
        <li>SoundCloud</li>
        <li>Last.FM</li>
      </ul>

      <ul class="navigation">
          <li><a href="index.html">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="#">Résumé</a></li>
      </ul>

      </section>

      <section class="content">
        {{content}}</p>
      </section>

      <hr>

      <footer>
        <p>&copy; Iheanyi Ekechukwu 2013, <a href="https://creativecommons.org/licenses/by-sa/3.0/us/"> Creative Commons Attribution-ShareAlike 3.0 License</a>.</p>
      </footer>

    </body>
</html>
